.category-image {
  height: 80px;
  width: 80px;
}

@media (min-width: 768px) {
  .category-image {
    height: 160px;
    width: 160px;
  }
}

.track-name {
  font: 700 16px 'Roboto';
  color: #ffffff;
  margin-bottom: 5px;
  margin-left: 10px;
}

.tracks-count {
  font: 800 14px 'Roboto';
  color: #64748b;
  margin-top: 0;
  margin-left: 10px;
}

.track-item {
  display: flex;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .track-item {
    flex-direction: column;
    margin-right: 20px;
  }
}
